In [ ]:
# we know that H0 = All propotions are equal
# H1 = Propotions are not equal.

In [6]:
import pandas as pd
from scipy import stats
import numpy as np
from scipy.stats import chi2_contingency

In [4]:
data= pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
obs = np.array([[50,142,131,70],[435,1523,1356,750]])

In [7]:
# finding chi square contigency
## chi2, p, dof, ex = chi2_contingency(obs, correction=False)

chi2_contingency(obs)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

### so we can say that the p value  > (Î± = 0.05); Accept the Null Hypothesis i.e. Independence of categorical variables Thus, male-female buyer rations are similar across regions and are not related