A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [11]:
import pandas as pd
from scipy import stats

In [12]:
data = pd.read_csv('Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [13]:
unit_a  = pd.Series(data.iloc[:,0])
unit_a

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [14]:
unit_b = pd.Series(data.iloc[:,1])
unit_b

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [15]:
# finding out unit a mean 
unit_a_mean = unit_a.mean()
unit_a_mean

7.01909142857143

In [16]:
# finding out unit b mean 
unit_b_mean = unit_b.mean()
unit_b_mean

6.964297142857142

In [17]:
# finding out unit a Standard Deviation 
unit_a_std = unit_a.std()
unit_a_std

0.2884084841815496

In [18]:
# finding out unit b Standard Deviation 
unit_b_std = unit_b.std()
unit_b_std

0.3434006470631082

#### We can say the mean of unit A is close to mean of unit B.

In [10]:
#finding out two sided test for hypothesis testing 
p_test = stats.ttest_ind(unit_a,unit_b)
p_test

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [9]:
p_test.pvalue

0.4722394724599501

#Comparing with 5 percent significance level

#we can say the test accepts null hypothesis and rejects alternative hypothesis
so we say that there is no significant difference between the daimeters of the two cutlets.